
@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}



/* TITLE PAGE CONTAINER */

.padre {
    height: 250px;
    /*IMPORTANTE*/
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    margin-top: center;
    align-items: center;
    background-color: #121212;;
  }
  
.hijo {
    width: 25%;
    text-align: center;
}

.hijo p {
    background-color: #121212;
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    color: white;
}

.hijo span{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.7);
}

/* FOOTER STYLES */

.main-footer{
    position: static;
    bottom: 0;

}

.main-footer, ul{
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: white;
}

.main-footer a{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    color: rgba(255, 255, 255, 0.7);
}

.main-footer a:hover{
    text-decoration: gray;
    color: rgba(255, 255, 255, 0.7);
    list-style: initial;
}

.main-page-copy{
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.main-page-copy a{
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

/* CARDS STYLES */
.card{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616161;
    text-align: center;
}

.card-body h5{
    color: white;
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}

.card ul{
    color: black;
}

.list-group{
    list-style: none;
    background-color: #424242;
}

.list-group li{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    color: rgba(255,255,255,1.0);
}

.registerButton{
    color: #90caf9;
    border: 1px solid rgba(144, 202, 249, 0.5);
    background-color: transparent;
}