
.cards-contain {
    width: 100%;
    background-color: rgb(12, 11, 12);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
}
.card {
    background-color: rgb(66, 63, 66);
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
 .card-left {
    margin-top: 30px;
    margin-right: 50px;
}
.card-right {
    margin-top: 30px;
    margin-left: 50px;
} 
.text-top {
    top:0;
    width: 100%;
    height: 25%;
    text-align: center;
    background-color: rgb(100, 100, 100);
}
.text-in {
    text-align: center;
    padding: 30px 1px;
}
.price {
    font-size: 45px;
    margin-top: 0px;
}

.btn-contain {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.btn {
    width: 75%;
    height: 45px;
    background-color: transparent;
    border: 2px solid rgb(43, 43, 245);
    border-radius: 12px;
    color: rgb(43, 43, 245);
}  

.btn-pro {
    background-color: rgb(43, 43, 245);
    color: white;
}