.Tarjeta {
    margin: auto;
    width: 200px;
    height: 40px;
    background-color: rgb(238, 238, 238);
    border: solid rgba(231, 231, 231, 0.667);
}

h3{
    margin: auto;
    text-align: center;

}

a{  margin: auto;
    width: 150px;
    height: 40px;
    background-color: gray;

}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: solid rgb(97, 121, 255);

}