.Tarjeta {
    margin: auto;
    width: 150px;
    height: 40px;
    background-color: rgb(238, 238, 238);
}

h3{
    margin: auto;
    text-align: center;

}

a{  margin: auto;
    width: 150px;
    height: 40px;
    background-color: gray;

}

