/* Font */
@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

.div-navbar-container{
    background-color: #212121;
}

.div-navbar-container h5{
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.navBar-elements a{
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.navBar-elements a:hover{
    color: white;
}

.div-navbar-container .logIn-btn{
    color: #90caf9;
    border: 1px solid rgba(144, 202, 249, 0.5);
    background-color: transparent;
}

.div-navbar-container .logIn-btn:hover{
    border: 1px solid rgba(144, 202, 249, 1.0);
    color: #90caf9;
}
