*{
    margin: 0;
}
body{
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
header{
    padding: 0px 24px 0px 24px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d7d7d7;
    height: 64px;
}
footer{
    border-top: 1px solid #e0e0e0;
    max-width: 958px;
    margin: auto;
    margin-bottom: 24px;
}
li{
    margin-top: 12px;
    list-style-type: none;
}
ul{
    margin: 0px;
}
.footerColumnsContainer{
    display: inline-flex;
    margin: 48px 0px 48px 0px;
}
.headerTitle{
    position: absolute;
    top: 16px;
    left: 24px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.headerLinks{
    padding: 10px;
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    display: inline-flex;
    position: absolute;
    right: 0px;
}
.headerLink{
    text-decoration: none;
}
.headerLinkItem{
    margin: 9px 14px 0px 14px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
}
.headerLinkItemLast{
    margin-right: 20px;
}
.cardBtnEmpty, .headerLinkBtn{
    background-color: white;
    border: 1px solid #1976d2;
    color: #1976d2;
    height: 36px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    border-radius: 4px;
    box-shadow: none;
    outline:none;
}
.headerLinkBtn{
    background-color: #f5f5f5;
    width: 74px;
    margin: 4px 26px 0px 0px;
}
.cardBtn{
    padding: 5px 0px 5px 0px;
    margin-top: 62px;
}
.cardBtnFree, .cardBtnEnter{
    margin-top: 76px;
}
.cardBtnFull{
    background-color: #1976d2;
    border: none;
    text-decoration: none;
    text-shadow:none;
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 35px;
}
.cardContainer{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin: 38px auto 58px auto;
    max-width: 350px;
}
.cardContent{
    padding: 10px;
}
.cardHeader{
    padding: 15px;
    background-color: #eeeeee;
}
.cardContentPrice{
    font-size: 48px;
}
.cardContentPriceMonth{
    font-size: 22px;
    color: gray;
}
.contentTitle{
    font-size: 3.75rem;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    margin: 64px 0px 22px 0px;
}
.cardPro{
    height: 357px;
    max-width: 278px;
    margin: 38px 48px 0px 42px;
}
.cardFree, .cardEnter{
    height: 332px;
    max-width: 278px;
    margin-top: 63px;
}
.contentCardsContainer{
    display: inline-flex;
}
.contentSubtitle{
    max-width: 600px;
    font-size: 1.5rem;
    margin: auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
}