.main__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Box*/
    width: 730px;
    margin: auto;
    padding: 50px;
}
.main__title-title{
    text-align: center;
    font-weight: 100;
    font-size: 62px;
}
.main__title-paragraph{
    color: rgb(0, 0, 0, 0.6);
    text-align: center;
    font-size: 25px;
}